* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./backgroundJonkeypo.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: 400px;
    margin-top: 120px;
}
h1{
    font-size: 50px;
}

button {
    padding: 12px;
    font-size: 78px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: opacity 0.5s ease-in-out;
}

.buttons {
    margin: 30px 0px;
    display: flex;
    gap: 10px;

}


button:hover {
    opacity: 0.7;

}

#rock {
    background-color: blue;
}

#paper {
    background-color: rgba(77, 228, 17, 0.836);
}

#scissors {
    background-color: orangered;

}

p {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;

}

.your-score span {

    color: red;   

}

.machine-score span {
    color: blue
}


input {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.configh2 {
    font-size: 34px;
    background-color: greenyellow;
    margin-bottom: 320px;
    border-radius: 15px;
    border-style: hidden;
    border-color: rgb(216, 29, 29);
    padding-inline: 18px;
    margin-top: 23px;

}

.small-box1,
.small-box2,
.small-box3 {
    width: 80px;
    height: 80px;
    background-color: rgb(85, 85, 97);
    border-radius: 18px;
    border: none;
    display: inline-block;
    margin-bottom: 290px;
    padding: 5px;
    margin-right: 1px;
    font-size: 48px;
    color: rgb(124, 221, 14);
    text-align: center;


}

.sets {
    display: flex;
    align-items: center;
    gap: 3px;
    position: fixed;
    margin-right: 840px;
    margin-left: 5px;
    margin-bottom: 300px;
    margin-top: 50px;
    gap: 10px;



}

.sets-computer {
    display: flex;
    align-items: center;
    gap: 3px;
    position: fixed;
    margin-left: 780px;
    margin-top: 50px;
    margin-bottom: 300px;
    gap: 10px;

}

.small-box-comp1,
.small-box-comp2,
.small-box-comp3 {
    width: 80px;
    height: 80px;
    background-color: rgb(85, 85, 97);
    border-radius: 18px;
    border: none;
    display: inline-block;
    margin-bottom: 290px;
    padding: 5px;
    font-size: 48px;
    color: rgb(124, 221, 14);
    text-align: center;
}

.img-garoto {
    position: fixed;
    height: 260px;
    width: 260px;
    margin-top: 80px;
    margin-left: 80px;
    border-style: groove;
    border-radius: 12px;

}

.img-robo {
    position: fixed;
    height: 260px;
    width: 260px;
    margin-top: 80px;
   margin-left: 120px;
    border-style: groove;
    border-radius: 12px;
}